<div class="page-header" style="padding-bottom: 0px; margin: 0 0 20px;">
        <h1 style="margin: 0 0 10px 0;">Product Catalog</h1>
</div>
<div ng-show="loader" style="text-align: center;top: 50%; position: absolute;left: 50%;"><img src="/app/webroot/img/26.gif" style="text-align:center;" /></div>
<div class="row" >

    <div class="row cataglog"> 
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" ng-repeat="result in allProducts | startFrom: currentPage*pageSize | limitTo: pageSize">
          <h3 style="margin:0;">{{ result.Product.vendor }}</h3>
           <a ng-href="/#productdetail/{{result.Product.id}}"> <img class="img-thumbnail" ng-src="/app/webroot/img/small/{{ result.Product.ProductImage[0].img_src }}" alt="default" /> </a>
          <p>{{ result.Product.price | currency : $ : 2}}</p>
          <button type="button" class="btn btn-primary btn-xs"  ng-click="addCart(result.Product.id,result.Product.title,result.Product.price,1,result.Product.ProductImage[0].img_src)">ADD TO CART</button>
      </div>
    </div>
    
    <div class="row">
        <!--<p>
        <button type="button" class="btn btn-info active btn-xs" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button type="button" class="btn btn-info active btn-xs" ng-disabled="currentPage >= allProducts.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button>
        </p>-->
        <ul class="pager">
          <li><a href="javascript:void(0)" ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</a></li>
          <li> <span ng-cloak>{{currentPage+1}}/{{numberOfPages()}}</span></li>
          <li><a href="javascript:void(0)" ng-hide="currentPage >= allProducts.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</a></li>
        </ul>
    </div>
    
</div>

<script>
document.title = "Catalog Page";
</script>