<div class="page-header" style="padding-bottom: 0px; margin: 0 0 20px;">
        <h1 style="margin: 0 0 10px 0;">{{catalogTitle}} ({{catalogProductCount}})</h1>
</div>

<div class="row">
	<div class="category">
        <!--
        <span>
        	<a  href="/#/catalog">all</a>
        </span>-->
        
        <!--<span>
        	<a href="" ng-click="sortByCat(9)">Vitamin</a>
        </span> ||
        <span>
        	<a href="" ng-click="sortByCat(10)">Protein</a>
        </span> || 
        <span>
        	<a href="" ng-click="sortByCat(0)">all</a>
        </span>-->
        
        <!--<span ng-repeat="result in forSortingNew">
        	<a href="/#/catalog/{{result.Category.title}}" >{{ result.Category.title }}</a> || 
        </span>-->
        
    </div>

<!--<div class="category">

        <span>
        	<a href="/#/catalog/Vitamins 2" ng-click="sortByCat(9)">Vitamin</a>
        </span> ||
        <span>
        	<a href="/#/catalog/Protein" ng-click="sortByCat(10)">Protein</a>
        </span> || 
        <span>
        	<a href="/#/catalog" ng-click="sortByCat(0)">all</a>
        </span>
        
    </div>-->
    <div class="row cataglog"> 
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" ng-repeat="(key, result) in allProducts">
          <h3 style="margin:0;">{{ result.Product.vendor }}</h3>
           <a ng-href="/#productdetail/{{key}}"> <img class="img-thumbnail" image-lazy-src="/img/small/{{ result.Product.ProductImage[0].img_src }}" /> </a>
          <p>{{ result.Product.price | currency : $ : 2}}</p>
          <button type="button" class="btn btn-primary btn-xs focusInput" ng:click="addItem(result.Product,$event)" id="{{key}}">{{cartText(result.Product.id)}}</button>
      </div>
    </div>
    
    
    
</div>

<script>
document.title = "Catalog Page";
</script>