<style>
.sectionTitleLink {
    float: right;
    font-size: 13px;
    color: #e4755a;
}
.textBreakBottom {
    height: 0px;
    clear: both;
    margin-bottom: 23px;
    border-top: 3px solid #f0f0f0;
}
.sectionTitle {
    margin-bottom: 22px;
	font-family:'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.homeProductsWrapper {
    padding-left: 36px;
    box-sizing: border-box;
}
.homeProductWrapper {
    margin-left: 36px;
    width: 47%;
    float: left;
    margin-bottom: 27px;
}
.homeProductWrapper:nth-child(odd) {
    margin-left: -36px;
}
.homeProductWrapper > img {
    width: 100%;
    height: auto;
}
.homeProductInfoWrapper {
    padding-left: 12px;
    padding-right: 12px;
    background-color: #f9f9f9;
    padding-bottom: 12px;
    padding-top: 8px;
}
.homeProductTitle {
    display: block;
    margin-bottom: 7px;
    text-align: center;
}
.homePurchaseButton {
    color: #333;
	font-size:13px;
	font-weight:bolder;
	margin-left:35%;
}
.page-header{
	padding-bottom: 0px; margin: 2px 20px; border:none;
}
.page-header h1{
	margin-bottom:20px;text-align:center
}
.mainCategory{
	float:left; width:100%;
}
.row {
	  margin-right: 10px;
	  margin-left: 10px;
}
</style>
<div class="row">
<div class="page-header">
    <!--<h1 style=""><img src="/app/webroot/img/logo.png" width=""  /></h1>
     
    <div class="sliderWrapper">      
        <div>
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
              <uib-slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                <h4>Slide {{$index}}</h4>
                  <p>{{slide.text}}</p>
                </div>
              </uib-slide>
            </uib-carousel>
		</div>
    </div>-->
  <div class="textBreakBottom"></div>
  <div class="mainCategory" ng-repeat="(key,result) in homeCategory| limitTo:4">
  <h4 class="sectionTitle">{{key}}<a  ng-href="#/catalog/{{key}}" class="sectionTitleLink">More »</a></h4>
  <div class="homeProductsWrapper">
    <div class="homeProductWrapper" ng-repeat="res1 in homeCategory[key]| limitTo:2"><a ng-href="#productdetail/{{res1.Product.id}}"><img class="img-thumbnail" src="app/webroot/img/small/{{ res1.Product.ProductImage[0].img_src }}"/>
      <div class="homeProductInfoWrapper"><span class="homeProductTitle">{{res1.Product.title | limitTo:25 }}</span><h3 href="" class="homePurchaseButton">{{ res1.Product.price | currency : $ : 2}}</h3></a></div>
    </div>
   </div>
   <div class="textBreakBottom"></div>
  </div>
  
</div>
</div>